<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<app-home-title></app-home-title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                    
                        <form id="login-form" class="form" action="" method="post" #loginForm="ngForm" novalidate>
                            <h3 class="text-center text-info">Login Here</h3>
                            <div class="form-group">
                                <label for="username" class="text" >Username:</label><br>
                                <input type="text" name="username" id="username" [(ngModel)]="user.userid" placeholder="Email Address"class="form-control" #username="ngModel" required
                                [ngClass]="{'is-invalid':loginForm.submitted && username.invalid}" >
                                <div class="invalid-feedback">
                                    <div>Username is required</div>
                                  </div>
                      
                 
                            
                            </div>
                            <div class="form-group">
                                <label for="password" class="text">Password:</label><br>
                                <input type="password" name="password" id="password" [(ngModel)]="user.password" placeholder="Password" class="form-control" #password="ngModel" required minlength="6"
                                [ngClass]="{'is-invalid':loginForm.submitted && password.invalid}" >
                                <div *ngIf="loginForm.submitted && password.invalid" class="invalid-feedback">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                                  </div>
                      
                            </div>
                            <div class="form-group">
                                
                                <input type="submit" name="submit" (click)="loginUser()" class="btn btn-block" value="Login">
                            </div>
                            <div id="register-link" class="text-center">
                                
                                <p class="text-center">Don't Have an Account?</p><a routerLink="/Registration" routerLinkActive="active">Register Here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>

