<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<footer id="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          &copy; Team4  <p>Developed and Deployed by Team-4 </p>
        </div>
        <div class="col-md-2">
          <h6>Our products</h6>
          <ul class="list-unstyled">
            <li><a href="">Features</a></li>
            <li><a href="">Solutions</a></li>
            <li><a href="">Plans</a></li>
            <li><a href="">Sign in</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6>Our team</h6>
          <ul class="list-unstyled">
            <li><a href="">About</a></li>
            <li><a href="">Highlights</a></li>
            <li><a href="">Investors</a></li>
            <li><a href="">Partners</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6>Other things</h6>
          <ul class="list-unstyled">
            <li><a href="">Jobs</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6>Follow Us:</h6>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </div>

      </div>
    </div>
  </footer>
